################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaConsole/.vs/CinemaConsole/v16/Server/sqlite3
